<div class="row">
    <div class="col s12 m9">
        <h3>{{quote.title}}
            <small>{{{editIcon quote.user.id user.id quote.id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">
                    {{formatDate quote.date 'MMMM Do YYYY'}}
                </span>
                {{{quote.body}}}
            </div>
        </div>

        {{#if quote.allowComments}}
        <div class="card">
            <div class="card-content">
                <span class="card-title">Commnents</span>

                {{#if user}}
                <form action="/quotes/comment/{{quote.id}}" method="post">
                    <div class="input-field">
                        <textarea name="commnetBody" id="" class="materialize-textarea"></textarea>
                        <label for="">Add Comment</label>
                    </div>
                    <input type="submit" value="Submit" class="btn">
                </form>
                {{else}}
                <p>Please <a href="/auth/google">Log In</a> to leave a comment</p>
                {{/if}}
            </div>
        </div>
        {{#each quote.comments}}
        <div class="card">
            <div class="card-content">
                <h5>{{commentBody}}</h5>
                <div class="chip">
                    <img src="{{commentUser.image}}">
                    <a href="/quotes/user/{{commentUser.id}}"> {{commentUser.firstName}} {{commentUser.lastName}}</a>
                </div>
                <br>
                <small>Poseted: {{formatDate commnetDate 'MMMM Do YYYY'}}</small>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
    <div class="col s12 m3">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{quote.user.firstName}} {{quote.user.lastName}}</span>
                <img src="{{quote.user.image}}" class="circle responsive-img">
            </div>
            <div class="card-action">
                <a href="/quotes/user/{{quote.user.id}}">More From {{quote.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>